<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.EmployeeMapper">

    <select id="selectEmployee" resultType="com.java.pojo.Employee">

        select emp_id empId,emp_name empName, emp_salary empSalary from
        t_emp where emp_id = #{empId}
    </select>

    <select id="deleteByid">
        delete from t_emp whrer emp_id = #{empId}
    </select>
</mapper>
