<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisx.mapper.UserMapper">

    <insert id="insertUser">
        insert into user(u_id,user_name,u_age,u_gender,u_hooby)
        values(#{id},#{name},#{age},#{gender},#{hooby})
    </insert>

    <select id="queryById" resultType="user">
        select u_id ,u_name ,u_age ,u_gender ,u_hooby  from user where u_id =#{uid}
    </select>


</mapper>