<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.CustomerMapper">

    <!-- sql语句     Customer queryById(Integer customerId);
     -->
    <select id="queryById" resultType="com.mybatis.pojo.Customer">
        select * from t_customer where customer_id = #{customerId}
    </select>



    <resultMap id="cMap" type="com.mybatis.pojo.Customer">
        <id column="customer_id" property="customerId" />
        <collection property="queryList" column="customer_id" select="com.mybatis.mapper.OrderMapper.queryByCustomerId" />
    </resultMap>
    <!--    Customer queryByCustomerId(Integer customerId);-->
    <select id="queryByCustomerId" resultMap="cMap">
        select * from t_customer where customer_id = #{customerId}
    </select>

</mapper>

