<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrderMapper">
    <resultMap id="oMap" type="com.mybatis.pojo.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_name" property="orderName"/>
        <collection property="queryCustomer" ofType="com.mybatis.pojo.Customer">
            <id column="customer_id" property="customerId"/>
            <result column="customer_name" property="customerName"/>
        </collection>
    </resultMap>
    <select id="queryAllCustomer" resultMap="oMap">
        select * from t_order tor join t_customer tcr on tor.customer_id = tcr.customer_id

    </select>



</mapper>