<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrderMapper">


    <!-- sql语句  List<Order> queryAll();-->
    <resultMap id="oMap" type="com.mybatis.pojo.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_name" property="orderName"/>
        <association property="customer" column="customer_id" select="com.mybatis.mapper.CustomerMapper.queryById"/>
    </resultMap>

    <select id="queryAll" resultMap="oMap">
        select * from t_order;
    </select>



    <!--    List<Order> queryByCustomerId(Integer customerId);-->

    <select id="queryByCustomerId" resultType="com.mybatis.pojo.Order">
        select * from t_order where customer_id = #{customerId}
    </select>



</mapper>